---
import Icon from '../common/icon.astro';
import { getSupportUrl } from '../../data/support';
import type { Locale } from '../../data/locales';
import { site } from '../../data/site';
import type { Messages } from '../../data/site';

const { locale, messages: m, rootPrefix } = Astro.props as {
  locale: Locale;
  messages: Messages;
  rootPrefix: string;
};

---

<section class="section install" id="install" aria-labelledby="install-title">
  <div class="section-inner install-inner">
    <div class="install-copy">
      <span class="section-icon section-title-icon install-title-icon" data-symbol="install_desktop" aria-hidden="true">
        <Icon name="install_desktop" />
      </span>
      <h2 id="install-title">{m.install.title}</h2>
      <p>{m.install.copy}</p>
      <div class="version-badges" aria-label={m.install.publishedVersions}>
        <span>{m.install.publishedVersions}</span>
        <div class="version-badge-list">
          <a href={site.sourceUrl}>
            <img data-version-badge="release" src="https://img.shields.io/github/v/release/chat-enhancer-yt/youtube-chat-qol?label=release&logo=github&color=2da44e" alt="release version">
          </a>
          <a href={site.chromeUrl}>
            <img data-version-badge="chrome" src="https://img.shields.io/chrome-web-store/v/pkhaaipeppfpakofgpdpcpkflangpghf?label=chrome%20web%20store&logo=googlechrome&color=6b7280" alt="chrome web store version">
          </a>
          <a href={site.firefoxUrl}>
            <img data-version-badge="firefox" src="https://img.shields.io/amo/v/chat-enhancer-for-youtube?label=firefox%20add-ons&logo=firefoxbrowser&color=6b7280" alt="firefox add-ons version">
          </a>
          <a href={site.safariUrl}>
            <img data-version-badge="safari" src="https://img.shields.io/itunes/v/6783276323?label=mac%20app%20store&logo=apple&color=6b7280" alt="mac app store version">
          </a>
        </div>
      </div>
    </div>
    <div class="install-actions" data-install-actions>
      <div class="install-store-picker" data-browser-store-picker>
        <a class="button button-primary install-primary-button" href={site.chromeUrl} data-browser-primary-store-link>
          <span class="button-icon" data-symbol="install_desktop" aria-hidden="true">
            <Icon name="install_desktop" />
          </span>
          <span>{m.install.installForThisBrowser}</span>
        </a>
        <button
          class="button button-secondary install-other-stores-toggle"
          type="button"
          aria-controls="install-store-options"
          aria-expanded="false"
          data-browser-store-toggle
        >
          <span class="button-icon" data-symbol="storefront" aria-hidden="true">
            <Icon name="storefront" />
          </span>
          <span>{m.install.otherStores}</span>
        </button>
        <div
          class="install-store-options"
          id="install-store-options"
          aria-label={m.install.otherStores}
          data-browser-store-options
          hidden
        >
          <a class="install-store-option" href={site.chromeUrl} data-browser-store-link="chrome">
            <img class="install-store-option-icon" src={`${rootPrefix}assets/browser-icons/chrome.svg`} alt="" aria-hidden="true">
            <span class="install-store-option-label">Chrome</span>
            <span class="install-store-option-meta">{m.install.chromeStore}</span>
            <span class="install-store-option-arrow" aria-hidden="true"></span>
          </a>
          <a class="install-store-option" href={site.firefoxUrl} data-browser-store-link="firefox">
            <img class="install-store-option-icon" src={`${rootPrefix}assets/browser-icons/firefox.svg`} alt="" aria-hidden="true">
            <span class="install-store-option-label">Firefox</span>
            <span class="install-store-option-meta">{m.install.firefoxAddons}</span>
            <span class="install-store-option-arrow" aria-hidden="true"></span>
          </a>
          <a class="install-store-option" href={site.safariUrl} data-browser-store-link="safari">
            <img class="install-store-option-icon install-store-option-icon-safari" src={`${rootPrefix}assets/browser-icons/safari.svg`} alt="" aria-hidden="true">
            <span class="install-store-option-label">Safari</span>
            <span class="install-store-option-meta">{m.install.safariAppStore}</span>
            <span class="install-store-option-arrow" aria-hidden="true"></span>
          </a>
        </div>
      </div>
      <div class="install-utility-actions">
        <a class="install-utility-chip" href={site.sourceUrl}>
          <span class="install-utility-icon" data-symbol="code" aria-hidden="true"><Icon name="code" /></span>
          <span>{m.install.sourceCode}</span>
        </a>
        <a class="install-utility-chip" href={getSupportUrl(locale)}>
          <span class="install-utility-icon" data-symbol="bug_report" aria-hidden="true"><Icon name="bug_report" /></span>
          <span>{m.install.supportFeedback}</span>
        </a>
      </div>
    </div>
    <div class="install-quickstart" aria-labelledby="install-quickstart-title">
      <div class="install-quickstart-heading">
        <img class="install-quickstart-app-icon" src={`${rootPrefix}assets/icons/icon-128.png`} width="42" height="42" alt="">
        <div>
          <h3 id="install-quickstart-title">{m.install.gettingStartedTitle}</h3>
          <p>{m.install.gettingStartedBody}</p>
        </div>
      </div>
      <ol class="install-quickstart-list">
        <li>
          <span class="install-quickstart-icon" data-symbol="storefront" aria-hidden="true">
            <Icon name="storefront" />
          </span>
          <span class="install-quickstart-copy">
            <strong>{m.install.stepStoreTitle}</strong>
            <span>{m.install.stepStoreBody}</span>
          </span>
        </li>
        <li>
          <span class="install-quickstart-icon" data-symbol="refresh" aria-hidden="true">
            <Icon name="refresh" />
          </span>
          <span class="install-quickstart-copy">
            <strong>{m.install.stepRefreshTitle}</strong>
            <span>
              <span>{m.install.stepRefreshBodyBeforeIcon}</span>
              <span class="inline-symbol" data-symbol="inbox" aria-hidden="true">
                <Icon name="inbox" viewBox="0 0 24 24" />
              </span>
              <span>{m.install.stepRefreshBodyAfterIcon}</span>
            </span>
          </span>
        </li>
        <li>
          <span class="install-quickstart-icon" data-symbol="extension" aria-hidden="true">
            <Icon name="extension" />
          </span>
          <span class="install-quickstart-copy">
            <strong>{m.install.stepSettingsTitle}</strong>
            <span>
              <span>{m.install.stepSettingsBodyBeforeIcon}</span>
              <span class="inline-symbol" data-symbol="extension" aria-hidden="true">
                <Icon name="extension" />
              </span>,
              <span>{m.install.stepSettingsBodyMiddle}</span>
              <img class="inline-app-icon" src={`${rootPrefix}assets/icons/icon-128.png`} width="16" height="16" alt="">
              <span>{m.install.stepSettingsBodyAfterIcon}</span>
            </span>
          </span>
        </li>
        <li>
          <span class="install-quickstart-icon" data-symbol="ads_click" aria-hidden="true">
            <Icon name="ads_click" />
          </span>
          <span class="install-quickstart-copy">
            <strong>{m.install.stepUseTitle}</strong>
            <span>{m.install.stepUseBody}</span>
          </span>
        </li>
      </ol>
    </div>
  </div>
</section>
