---
import type { Messages } from '../../data/site';

const { messages: m } = Astro.props as { messages: Messages };
---

<dialog class="support-modal" data-support-modal aria-labelledby="support-modal-title">
  <div class="support-modal-panel">
    <div class="support-modal-heading">
      <h2 id="support-modal-title">{m.install.supportModalTitle}</h2>
    </div>
    <p>{m.install.supportModalBody}</p>
    <ul class="support-modal-list">
      <li>{m.install.supportModalDetailOne}</li>
      <li>{m.install.supportModalDetailTwo}</li>
      <li>{m.install.supportModalDetailThree}</li>
      <li set:html={m.install.supportModalDetailFour}></li>
    </ul>
    <div class="support-modal-actions">
      <button class="button button-link" type="button" data-support-modal-close>{m.install.supportModalCancel}</button>
      <a class="button button-primary" href="https://www.chatenhancer.com/support" data-support-modal-continue>{m.install.supportModalContinue}</a>
    </div>
  </div>
</dialog>
