---
import { getCollection, render } from 'astro:content';
import { Image } from 'astro:assets';
import BlogLayout from '../../../layouts/blog-layout.astro';
import { getBlogCoverVideoUrl } from '../../../data/blog-media';
import { getMessages } from '../../../data/locales';
import { site } from '../../../data/site';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.data.slug },
    props: { post }
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const messages = getMessages('en');
const formatter = new Intl.DateTimeFormat('en', {
  day: 'numeric',
  month: 'long',
  year: 'numeric'
});
const coverUrl = post.data.image ? new URL(post.data.image.src, site.url).toString() : undefined;
const coverVideoUrl = getBlogCoverVideoUrl(post.data.slug, post.data.video);

const titleHtml = decorateBrandMentions(post.data.title);
const descriptionHtml = decorateBrandMentions(post.data.description);

function decorateBrandMentions(value: string): string {
  return escapeHtml(value).replaceAll(
    'Chat Enhancer',
    '<span class="blog-brand-inline"><img src="/assets/icons/icon.svg" alt="" aria-hidden="true">Chat Enhancer</span>'
  );
}

function escapeHtml(value: string): string {
  return value
    .replaceAll('&', '&amp;')
    .replaceAll('<', '&lt;')
    .replaceAll('>', '&gt;')
    .replaceAll('"', '&quot;')
    .replaceAll('\'', '&#39;');
}
---

<BlogLayout
  canonicalUrl={`${site.url}/blog/${post.data.slug}/`}
  description={post.data.description}
  image={coverUrl}
  messages={messages}
  rootPrefix="../../"
  title={post.data.title}
>
  <article class="blog-post">
    <header class="blog-post-header">
      <a class="feature-link" href="/blog/">Back to updates</a>
      <time datetime={post.data.date.toISOString().slice(0, 10)}>{formatter.format(post.data.date)}</time>
      <h1 set:html={titleHtml} />
      <p set:html={descriptionHtml} />
    </header>
    {post.data.image && (
      <figure class="blog-post-cover">
        {coverVideoUrl ? (
          <video src={coverVideoUrl} poster={post.data.image.src} autoplay muted loop playsinline preload="metadata" aria-hidden="true" />
        ) : (
          <Image src={post.data.image} alt="" loading="eager" decoding="async" />
        )}
      </figure>
    )}
    <div class="blog-post-body">
      <Content />
    </div>
  </article>
</BlogLayout>
